/* VARIABLES */
:root {
    --border-color: grey;
}
/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a:not(.buynow) {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* COMMON */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

section {
    padding: 5rem 0
}

section h2 {
    font-size: 2rem;
    padding: 3rem 0px;
}

/* UTILITIES */
.inline-block {
    display: inline-block;
}

a.btn {
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    color: white;
    background-color: #0061FF;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* LAYOUT */
.header-container, .footer-container {
    width: 80%;
    margin: 0 auto;
}

.header-container {
    margin-top: 5rem;
    padding: 3rem 0;
}

.main-container section:not(.companies),
.free-trial-container {
    width: 60%;
    margin: 0 auto;
}


/* HEADER */
header {
    background-color: #B4D0E7;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: space-between;
    line-height: 80px;
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 1rem;
}

.nav-left, .nav-right {
    width: 50%;
}

.nav-left li, .nav-right li {
    padding: 0 15px;
}

.nav-right ul {
    justify-content: right;
}

.logo {
    margin: 0 15px;
}

/* jumbotron */
.header-container h1 {
    font-size: 6rem;
    font-weight: 800
}

.jumbotron-description {
    width: 30%;
}


.jumbotron-description p {
    margin: 3rem 0;
}

.jumbotron-img {
    margin-top: 3rem;
    margin-bottom: -10rem;
}

.arrow-down {
    display: inline-block;
    font-size: 3rem;
}
/* MAIN */

    /* business plan section */
.business-plan label {
    padding-right: 3rem;
}

.business-plan-container {
    padding: 3rem 0;
}

.plan-typology {
    padding: 0.7rem 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.col {
    width: calc(100% / 3 - (40px /3));
    margin: 10px 0;
    border: 1px solid var(--border-color);
}

.col i {
    padding-right: 0.5rem;
}

.flex .col.centrale {
    margin: 10px 20px;
}

.card-plan {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.5rem;
    padding: 0.8rem 0;
}

.card-price {
    font-weight: bold;
}

.card-duration {
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    color: var(--border-color);
}

.card-plan li {
    padding: 0.5rem 0;
}

.buynow {
    color: #0061FF; 
}

.card-plan li:nth-of-type(4) {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

hr {
    width: 20%;
    margin: 2.5rem 0;
}


/* enterprise */

.team-enterprise {
    border: 1px solid red;
}

.enterprise-description {
    width: 70%;
    /* debug */
    background-color: lightgreen;
}

.enterprise-button {
    width: 30%;
    /* debug */
    background-color: lightsalmon;
}

/* find partner */
.find-partner-img {
    width: 60%;
    /* debug */
    height: 250px;
    background-color: aqua;
}

.find-partner-description {
    width: 40%;
    /* debug */
    background-color: blueviolet;
}

/* business operations section */
.card-operations-img {
    /* debug */
    background-color: burlywood;
}

/* find out more section */
.find-out-more-container {
    width: 60%;
}

/* companies section */
.big-square {
    /* debug */
    height: 400px;
    width: calc(100% / 3);
    border: 1px solid red;
}

.free-trial {
    background-color: #B4D0E7;
}

.free-trial-container {
    justify-content: space-between;
}

.free-trial-container h2 {
    width: 60%;
}

.free-trial-container a {
    background-color: bisque;
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

.small-square {
    position: relative;
    height: 200px;
    width: 50%;
    background-color: chartreuse;
    border: 1px solid black;
}

.inside-square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    background-color: blueviolet;
}

/* questions section */
.questions h2, .questions p {
    border-bottom: 1px solid black;
}

.questions h2 {
    padding: 50px 0;
}

.questions p {
    justify-content: space-between;
    padding: 25px 0;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    margin-top: 100px;
}

.footer-container, .lingua {
    padding: 50px 0;
}

.card-footer {
    width: calc(100% / 5);
}

.lingua {
    border-top: 1px solid white;
    padding-right: 20px;
}

.lingua span {
    margin: 5px;
    
}