/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */
.header-footer-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.main-container {
    width: 60%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* HEADER */
header {
    background-color: #B4D0E7;
}
nav {
    /* debug */
    height: 80px;
    background-color: aqua;
}

.jumbotron-description, .jumbotron-img {
    display: inline-block;
    /* debug */
    height: 250px;
    background-color: blue;
}

.jumbotron-description {
    /* debug */
    width: 30%;
}

.jumbotron-img {
    /* debug */
    width: 69%;
}

/* MAIN */

    /* 1st section */
.col {
    width: calc(100% / 3 - (40px /3));
    margin: 10px 0;
    /* debug */
    border: 1px solid red;
}

.flex .col.centrale {
    margin: 10px 20px;
}

.card-plan {
    padding: 15px;
}

/* enterprise */

.team-enterprise {
    border: 1px solid red;
}

.enterprise-description {
    width: 70%;
    /* debug */
    background-color: lightgreen;
}

.enterprise-button {
    width: 30%;
    /* debug */
    background-color: lightsalmon;
}

/* find partner */
.find-partner-img {
    width: 60%;
    /* debug */
    height: 250px;
    background-color: aqua;
}

.find-partner-description {
    width: 40%;
    /* debug */
    background-color: blueviolet;
}

/* business operations */
/* debug */
.card-operations-img {
    background-color: burlywood;
}